body{

font-family:"Segoe UI",sans-serif;
background:#eef3fb;
padding:40px;

}


.container{

max-width:1200px;
margin:auto;

}


h1{

text-align:center;
color:#1e3c72;
margin-bottom:30px;

}



table{

width:100%;
background:white;
border-collapse:collapse;
box-shadow:0 8px 20px rgba(0,0,0,0.15);

}



th{

background:#1e3c72;
color:white;
padding:15px;

}



td{

padding:15px;
text-align:center;
border-bottom:1px solid #ddd;

}



tr:hover{

background:#f2f6ff;

}